@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@100&family=Quicksand:wght@300..700&display=swap');

.containerPages{
    display: flex;
    width: 100vw;
    height: 100vh;
    font-family: Quicksand, sans-serif;
}

.mainPage{
    height: 100vh;
    margin-left: 300px;
    margin-right: 56px;
}

.header{
    height: 105px;
    border-bottom: 0.1px solid #F2DFCE;
}

.headerContent{
    display: flex;
    align-items: center;
    gap: 163px;
    margin-top: 35px;
    margin-left: 42px;
}

.searchingBar{
    border: none;
    background: none;
    margin-left: 15px;
    color: #9A9A9A;
    font-family: Quicksand, sans-serif;
    font-size: 12px;
    font-weight: 400;
    width: 225px;
}

.searchingBar:focus{
    outline: none;
}

.searchHeader{
    display: flex;
    align-items: center;
    background: #F5F9FD;
    width: 290px;
    padding: 14px 15px;
    border-radius: 104px;
}

.buttonNewProduct{
    background: #D9798B;
    display: flex;
    align-items: center;
    padding: 14px 25px;
    gap: 8px;
    border-radius: 100px;
}

.labelButtonNewProduct{
    color: white;
    font-family: Quicksand, sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.containerButton{
    display: flex;
    justify-content: flex-end;
    margin-right: 88px;
    margin-top: 21px;
    padding-bottom: 44px;
}

.tableSection{
    height: 650px;
    overflow: auto;
}

.actionButton{
    outline: none;
    border: none;
    cursor: pointer;
    background: none;
}

.filterButton{
    background: none;
}

